<div data-role="view" id="home" data-layout="main" class="home-view">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"> Lets Go Out </span>
        </div>
        <a  data-align="left" data-role="button"> Log out </a>
    </div>
    
    <div data-role="footer">
        <div data-role="tabstrip" class="tabstrip">
            <a href="views/eventsView.html" data-icon="bookmarks"> Events </a>
            <a href="views/friendsView.html" data-icon="contacts"> Friends </a>
        </div>
    </div>
</div>